body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  /** sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/** disable materialize input box-shadow */
input[type=text]:focus:not:([readonly]) {
  box-shadow: none;
}

